body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgb(130, 170, 223); */
}

.main-card {
    /* background-color: rgb(104, 216, 179); */
    background-color: rgb(222, 230, 233);
    border-radius: 16px;
    border: 1px solid black;
    height: 500px;
    padding: 50px;
    box-shadow: 0 0 30px 0.5px whitesmoke;
}

.value-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btns-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

input {
    font-size: 15px;
    margin-right: 7px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 9px;
    border: 1px solid black;
}

.sec-btn {
    margin-left: 5px;
}

.first-btn {
    margin-right: 5px;
}

button {
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
}

button:hover {
    background-color: black;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}

hr {
    margin-top: 25px;
}

@media (max-width: 480px) {
    .main-card {
        width: 100%;
        height: 100%;

    }


}

/* --------------Night-Sky------------------------------------------------------------ */

body {
    background-color: black;
    height: 1000px;
}

.star {
    border-radius: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
    animation: moveit;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

@keyframes moveit {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}